/* BASIC COLORS - START */
$__text-color: rgb(24, 38, 56);
$__icon-color: rgb(140, 157, 157);
$__red-color: rgb(192, 27, 32);
$__green-color: rgb(67, 168, 118);
/* BASIC COLORS - END */

/* LABEL COLORS - START */
$__tab-color: rgb(245, 245, 245);
$__open-label-color: rgb(240, 192, 193);
$__in-progress-color: rgb(250, 224, 195);
$__closed-color: rgb(254, 240, 193);
$__wont-fix-color: rgb(209, 231, 202);
/* LABEL COLORS - END */
